/* variables */
:root{
    --primary: #F4F1F8;
    --secondary: #ffffff;
    --tertiary: #000000;
}

/* base styles */
html{
    font-size: 16px;
}

/* fonts */
body{
    font-family: Helvetica;
}

.logo-text{
    font-size: 2rem;
    font-weight: bolder;    
}

.home, .projects{
    font-size: 1.23rem;
}

.add-task{
    font-size: 0.7rem;
}

.footer{
    font-size: 0.8rem;
}

.task-h{
    font-size: 1.2rem;
    font-weight: bolder;
}

/* mobile styles */
.main-container{
    width: 100%;
}

.sidebar{
    display: none;
}

.show-sb{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.close-hambg{
    padding: 1.5rem 0;
}

 .home{
        margin-top: 3rem;
    }
    
 .home-item, .project-item{
        margin: 1rem;
    }
    
 .projects{
        margin-top: 3rem;
    }

.logo{
    width: 2rem;
    margin: 0.5rem 0.7rem 0 0.5rem;
}

.ico{
    cursor: pointer;
    width: 1.2rem;
    margin: 0 0.4rem;
}

.display{
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

.hide-disp{
    display: none;
}

.display-h{
    background-color: var(--secondary);
    padding: 5%;
    display: flex;
    align-items: center;
    border-bottom: 0.3rem solid var(--tertiary);
}

.display-rh{
    position: fixed;
    right: 1rem;
}

.task{
    padding: 0.5rem;
    background-color: white;
    text-align: justify;
    margin: 1rem auto;
    width: 85%;
    max-width: 25rem;
}

.task-desc{
    margin: 0 auto;
    max-width: 19.5rem;
}

.checkbox{
    padding-right: 1rem;
    position: relative;
    top: 0.15rem;
    left: 1rem;
}

.due-date{
    margin: 0.5rem 0;
}

.add-task{
    cursor: pointer;
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 0.5rem;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.task-h-input, .task-desc-input{
    border: 0;
}

.footer{
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 0.8rem 0.5% 0.5rem 0.5%;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1rem;
}

/* large tablet styles */
@media (min-width: 800px){
    html{
        font-size: 18px;
    }
    .sidebar{
        z-index: 1;
        box-shadow: 2px 5px 5px black;
        padding: 1.3rem;
        max-width: 13rem;
        width: 30%;
        display: flex;
        flex-direction: column;
        
     }
    
    .display-h{
        border-bottom: 0;
        background-color: transparent;
    }
    
    .display{
        width: 85%;
    }
    
    .ico{
        margin: 0 0.8rem;
    }
    
    .hambg{
        display: none;
    }
     .main-container{
        display: flex;
     } 
    
    .footer{
        width: 40%;
        left: 63%;
    }
}

